@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.drums {
  position: relative;
}

.drums .background {
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

.hang-drum-container {
  padding: 40px 0;
  width: 50%;
  float: left;
  position: relative;
}

.hang-drum-container:not(.hang-drum-container--full):hover .hang-drum-container__message {
  display: block;
}

.hang-drum-container__message {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 100%;
  font-size: 3em;
  text-align: center;
  line-height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
}

.drums--opened .background {
  display: block;
}

.background .close-button {
  z-index: 4000;
  position: absolute;
  right: 10px;
  font-size: 5em;
  color: #555;
  cursor: pointer;
  transition: color 0.2s ease;
}

.background .close-button:hover {
  color: #000;
}

.drums::after {
  content: '';
  display: block;
  clear: both;
}

.hang-drum-container__player {
  display: none;
}

.hang-drum-container--full {
  position: absolute;
  width: 70%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%);
  clear: both;
  display: block;
  float: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.hang-drum-container .hang-drum {
  transform: scale(0.75);
}

.hang-drum-container--full .hang-drum {
  transform: none;
}

.hang-drum-container--full .hang-drum-container__player {
  display: block;
}

.hang-drum-container--blue {
  background-color: #e8e8f5;
}

.hang-drum-container--yellow {
  background-color: #f3f3e5;
}

.hang-drum-container--orange {
  background-color: #f9e9cc;
}

.hang-drum-container--purple {
  background-color: #e8c7e8;
}


.hang-drum {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px 5px #ccc;
}

.hang-drum--blue {
  background:radial-gradient(ellipse at center, #00afe8 0%, #2e7086 100%);
}

.hang-drum--yellow {
  background:radial-gradient(ellipse at center, #fcff00 0%, #a6b12c 100%);
}

.hang-drum--orange {
  background:radial-gradient(ellipse at center, #ffc000 0%, #b1882c 100%);
}

.hang-drum--purple {
  background:radial-gradient(ellipse at center, #6f2fa0 0%, #50187b 100%);
}



.hang-drum__note {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid #222;
  display: inline-block;
  line-height: 50px;
  text-align: center;

  position: absolute;
  top: 50%;
  margin-top: -25px;

  left: 50%;
  margin-left: -25px;

  box-shadow: inset 0px 0px 25px -5px rgba(0,0,0,0.39);

  transition: all 0.2s ease;
}

.hang-drum-container {
  text-align: center;
}

.hang-drum-container > label {
  display: block;
  font-weight: bold;
  padding-bottom: 1.5em;
  font-size: 1.2em;
}

.hang-drum__note.active {
  box-shadow: inset 0 0 3px 1px black;
  background-color: rgba(255,255,255,0.75);;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.drum-controls {
  padding: 20px;
}

.drum-controls .time {
  font-style: italic;
  padding: 0 10px;
}

.drum-controls label {
  font-weight: bold;
}

.drum-controls i {
  padding: 0 4px;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.15s ease;
}

.drum-controls i:hover {
  color: #333;
  transform: scale(1.1);
}
